.dataContainer {
    /* background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: blueviolet;
    height: 50vh;
    width: 100vh;
    min-width: 100%; */
    position: absolute;
    top: 400px;
    height: 300px;
    width: fit-content;
    align-items: center;
    left:0;
    right:0;
  
    margin-left: auto;
    margin-right: auto;
    animation: dataContainer-appear 1s ease-out forwards;
    
}
@keyframes dataContainer-appear {
    from {
      opacity: 0;
      transform: translateY(5rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.weatherDataContainer{
    background-color: azure;
}
